# Imagekit
NEXT_PUBLIC_PUBLIC_KEY=""
NEXT_PUBLIC_URL_ENDPOINT=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_ID=""

# resend
RESEND_API_KEY=""

# razorpay
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

# mongodb
DATABASE_URL=""

# host
NEXT_PUBLIC_BASE_URL_LOCAL=http://localhost:3000 # http://127.0.0.1:3000

# redis
REDIS_MSG_QUEUE_KEY=""
REDIS_URL=

# next auth
AUTH_SECRET=""
NEXTAUTH_URL=http://localhost:3000

# github
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

# development / production
NODE_ENV=development

# PORTS of backends
FASTAPI_FACE_VERIFICATION_BE_PORT=8000
RAZORPAY_PAYMENTS_BE_PORT=8001
WEB_RTC_SIGNALLING_BE_PORT=8002
WEB_SOCKETS_BE_PORT=8003
